.card {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
  padding: 3em;
}

.cardImage {
  flex-shrink: 0;
  position: relative;
  height: 500px;
  width: 900px;
  gap: 30px;
  cursor: default;
}

.card img {
  border-radius: 30px;
  max-width: 100%;
  height: auto;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 3px;
  margin-left: 5px;
  gap: 30px;
}

.cardBody {
  margin-left: 40px;
  gap: 30px;
}

.cardBody p {
  margin-top: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  gap: 30px;
  cursor: default;
  font-size: 20px;
}

.cardBody h3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.title {
  font-weight: bold;
  color: #003c84;
  gap: 30px;
  cursor: default;
  font-size: 30px;
}

.buttons {
  background-color: #003c84;
  border: none;
  color: white;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 100px;
}

.buttons {
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  margin-left: 500px;
}

.icons {
  margin-right: 300px;
  color: gray;
  margin-top: -40px;
}

.time {
  color: gray;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 20px;
}

@media (min-width: 1px) and (max-width: 374px) {
  .title {
    font-size: 30px;
    padding-right: 60px;
    color: black;
    font-weight: bold;
  }

  .body {
    font-size: 20px;
    padding-right: 60px;
  }

  .time {
    color: gray;
    font-weight: bold;
    margin-top: 10px;
  }

  .card {
    display: grid;
    padding: 10px;
  }

  .cardImage {
    width: 310px;
    height: 300px;
    margin-left: 30px;
  }

  .icons {
    margin-right: 10px;
    color: gray;
  }

  .buttons {
    margin-left: 160px;
    margin-top: 40px;
  }
}

@media (min-width: 375px) and (max-width: 766px) {
  .title {
    font-size: 30px;
    padding-right: 60px;
    color: black;
    font-weight: bold;
  }

  .body {
    font-size: 20px;
    padding-right: 60px;
  }

  .time {
    color: gray;
    font-weight: bold;
    margin-top: 10px;
  }

  .card {
    display: grid;
    padding: 10px;
  }

  .cardImage {
    width: 310px;
    height: 300px;
    margin-left: 30px;
  }

  .icons {
    margin-right: 10px;
    color: gray;
  }

  .buttons {
    margin-left: 160px;
    margin-top: 40px;
  }
}

@media (min-width: 874px) and (max-width: 1440px) {
  .buttons {
    margin-left: 300px;
  }

  .icons {
    margin-top: -40px;
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 873px) {
  .buttons {
    margin-left: 300px;
  }

  .icons {
    margin-top: -40px;
    display: flex;
  }
}

@media (min-width: 1462px) and (max-width: 1800px) {
  .buttons {
    margin-left: 300px;
  }
}
