.card {
  display: grid;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
  padding: 10px 50px 40px;
}

.cardImage {
  flex-shrink: 0;
  position: relative;
  width: 380px;
  height: 380px;
  gap: 50px;
  cursor: default;
}

.card img {
  border-radius: 30px;
  object-fit: cover;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 3px;
  margin-left: 5px;
  gap: 30px;
}

.cardBody {
  margin-left: 10px;
}

.body {
  font-size: 15px;
}

.cardBody p {
  margin-top: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  gap: 30px;
  cursor: default;
}

.cardBody h3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
  gap: 30px;
  cursor: default;
  font-size: 18px;
}

.button {
  background-color: #003c84;
  border: none;
  color: white;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 10px;
  cursor: pointer;
  margin-left: 260px;
  margin-top: 40px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  font-weight: bold;
}

.icons {
  margin-top: -30px;
  color: grey;
}

.time {
  color: grey;
  font-weight: bold;
  margin-top: 10px;
  font-style: italic;
}

@media (min-width: 1px) and (max-width: 374px) {
  .title {
    font-size: 20px;
    padding-right: 60px;
    color: black;
    font-weight: bold;
  }

  .body {
    font-size: 20px;
    padding-right: 20px;
  }

  .time {
    color: gray;
    font-weight: bold;
    margin-top: 10px;
  }

  .card {
    display: grid;
  }

  .cardImage {
    width: 310px;
    height: 300px;
  }

  .icons {
    color: gray;
  }

  .button {
    margin-left: 170px;
    margin-top: 40px;
  }
}

@media (min-width: 375px) and (max-width: 766px) {
  .title {
    font-size: 20px;
    padding-right: 60px;
    color: black;
    font-weight: bold;
  }

  .body {
    font-size: 20px;
    padding-right: 20px;
  }

  .time {
    color: gray;
    font-weight: bold;
    margin-top: 10px;
  }

  .card {
    display: grid;
  }

  .cardImage {
    width: 310px;
    height: 300px;
  }

  .icons {
    color: gray;
  }

  .button {
    margin-left: 170px;
    margin-top: 40px;
  }
}

@media (min-width: 877px) and (max-width: 1440px) {
  .card {
    width: 700px;
    height: 300px;
    margin-right: auto;
    float: right;
    margin-left: 30px;
  }
}

@media (min-width: 768px) and (max-width: 877px) {
  .body {
    margin-top: 50px;
    margin-right: 100px;
  }

  .title {
    color: #003c84;
    font-size: large;
    font-weight: bold;
  }

  .card {
    margin-top: 50px;
    margin-left: 30px;
  }

  .cardImage {
    height: 250px;
    width: 470px;
  }

  .button {
    margin-right: 200px;
  }
}

@media (min-width: 1462px) and (max-width: 1800px) {
  .button {
    background-color: #003c84;
    border: none;
    color: white;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px 2px;
    cursor: pointer;
    margin-left: 200px;
    margin-top: 40px;
    font-weight: bold;
  }

  .cardImage {
    width: 300px;
    height: 300px;
  }
}
