.blogContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  gap: 20px 30px;
}

.cardImage {
  position: relative;
  width: 1550px;
  height: 300px;
  border-radius: 30px;
  right: 60px;
  gap: 20px 40px;
}

.smallImage {
  height: 100px;
  width: 100px;
  cursor: default;
  color: black;
  border-radius: 100px;
  margin-right: 1570px;
  margin-top: 10px;
}

.cardImage img {
  object-fit: cover;
  border-radius: 30px;
}

.title {
  text-align: justify;
  font-size: 48px;
  flex-shrink: 0;
  color: #003c84;
  margin-top: 60px;
  margin-right: 390px;
  text-transform: uppercase;
}

.app {
  font-family: sans-serif;
  text-align: center;
}

.titles {
  text-align: justify;
  font-size: 20px;
  margin-right: 200px;
  margin-left: 110px;
  margin-top: 10px;
}

.icona {
  margin-right: 1800px;
  margin-top: -300px;
  color: #003c84;
}

.text {
  color: #003c84;
  font-size: medium;
  text-align: center;
  font-weight: bold;
  margin-left: 120px;
  margin-top: -70px;
}

.counter {
  margin-right: 200px;
  margin-top: 30px;
}

.texts {
  color: #003c84;
  margin-top: 70px;
  font-weight: bold;
}

@media (min-width: 375px) and (max-width: 766px) {
  .cardImage {
    margin-left: 110px;
    width: 300px;
    height: 250px;
  }
}

@media (min-width: 375px) and (max-width: 766px) {
  .title {
    margin: auto;
    font-size: 30px;
    margin-top: 160px;
    color: #003c84;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 375px) and (max-width: 766px) {
  .titles {
    margin: auto;
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 375px) and (max-width: 877px) {
  .text {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
    color: #003c84
  }
}

@media (min-width: 375px) and (max-width: 877px) {
  .texts {
    margin-left: 10px;
    margin-top: 4px;
    font-size: 15px;
    color: #003c84;
  }
}

@media (min-width: 375px) and (max-width: 877px) {
  .smallImage {
    margin-right: 90px;
    font-size: 20px;
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 375px) and (max-width: 766px) {
  .counter {
    margin-left: 100px;
  }
}

@media (min-width: 375px) and (max-width: 766px) {
  .icona {
    width: 10px;
    height: 10px;
    margin-right: 400px;
    color: #003c84;
    margin-top: -200px;
  }
}

@media (min-width: 877px) and (max-width: 1440px) {
  .cardImage {
    width: 700px;
    height: 300px;
    margin-right: auto;
    float: right;
    margin-left: 30px;
  }
}

@media (min-width: 877px) and (max-width: 1440px) {
  .title {
    margin: auto;
    margin-right: 120px;
    font-size: 25px;
    color: #003c84;
  }
}

@media (min-width: 877px) and (max-width: 1440px) {
  .titles {
    margin: auto;
    margin-right: 120px;
    font-size: 18px;
    margin-top: 10px;
  }
}

@media (min-width: 877px) and (max-width: 1440px) {
  .text {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
    color: #003c84;
  }
}

@media (min-width: 877px) and (max-width: 1440px) {
  .icona {
    float: right;
    margin-right: 170px;
    font-size: 10px;
    margin-bottom: 10px;
    color: #003c84;
  }
}

@media (min-width: 877px) and (max-width: 1440px) {
  .smallImage {
    margin-right: 150px;
    font-size: 20px;
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 768px) and (max-width: 877px) {
  .cardImage {
    width: 700px;
    height: 300px;
    margin: auto;
    margin-left: 100px;
  }
}

@media (min-width: 767px) and (max-width: 877px) {
  .title {
    margin: auto;
    font-size: 25px;
    color: #003c84;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 767px) and (max-width: 877px) {
  .titles {
    font-size: 18px;
    margin: auto;
    padding-left: 40px;
    padding-right: 80px;
  }
}

@media (min-width: 767px) and (max-width: 877px) {
  .text {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
    color: #003c84;
  }
}

@media (min-width: 767px) and (max-width: 877px) {
  .icona {
    float: right;
    margin-right: 150px;
    font-size: 10px;
    margin-top: -50px;
    color: #003c84;
  }
}

@media (min-width: 767px) and (max-width: 877px) {
  .smallImage {
    margin-right: 150px;
    font-size: 20px;
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 1462px) and (max-width: 1800px) {
  .cardImage {
    width: 1450px;
    height: 300px;
    margin-left: 120px;
  }
}

@media (min-width: 1462px) and (max-width: 1800px) {
  .title {
    margin-top: -170px;
    margin-right: 260px;
    font-size: 45px;
    color: #003c84;
  }
}

@media (min-width: 1462px) and (max-width: 1800px) {
  .titles {
    margin-top: 10px;
    font-size: 25px;
    margin-right: 10px;
  }
}

@media (min-width: 1462px) and (max-width: 1800px) {
  .text {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
    color: #003c84;
  }
}

@media (min-width: 1462px) and (max-width: 1800px) {
  .texts {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
    color: #003c84;
    font-weight: bold;
  }
}

@media (min-width: 1462px) and (max-width: 1800px) {
  .smallImage {
    margin-right: 1300px;
    font-size: 20px;
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 1462px) and (max-width: 1800px) {
  .icona {
    float: right;
    margin-right: 1580px;
    font-size: 10px;
    margin-top: -60px;
  }
}
