.blogContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  gap: 20px 30px;
}

.cardImage {
  position: relative;
  width: 1500px;
  height: 600px;
  border-radius: 30px;
  right: 20px;
  gap: 20px 40px;
}

.smallImage {
  height: 100px;
  width: 100px;
  cursor: default;
  color: black;
  border-radius: 100px;
  margin-right: 1440px;
  margin-top: 10px;
}

.cardImage img {
  object-fit: cover;
  border-radius: 30px;
}
 
.title {
  text-align: justify;
  font-size: 42px;
  flex-shrink: 0;
  margin-top: -230px;
  margin-right: 460px;
  text-transform: uppercase;
}

.app {
  font-family: sans-serif;
  text-align: center;
}

.titles {
  text-align: justify;
  font-size: 25px;
  margin-right: 200px;
  margin-left: 175px;
  margin-top: 10px;
}

.icona {
  display: grid;
  margin-right: 1700px;
  margin-top: 10px;
  color: #b7c2cc;
}

.iconas {
  margin-right: 200px;
  margin-left: auto;
  margin-top: 10px;
  color: #b7c2cc;
}

.text {
  text-transform: capitalize;
  color: #003c84;
  font-size: medium;
  text-align: center;
  font-weight: bold;
  margin-left: 120px;
  margin-top: -70px;
}

.counter {
  margin-right: 200px;
  margin-top: 30px;
}

.texts {
  display: flex;
  color: #b7c2cc;
  width: 300px;
  margin-left: 120px;
  font-weight: bold;
  font-style: italic;
}

@media (min-width: 1px) and (max-width: 374px) {
  .cardImage {
    margin-left: 20px;
    width: 300px;
    height: 250px;
  }

  .title {
    margin: auto;
    font-size: 30px;
    margin-top: 160px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .titles {
    margin: auto;
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .counter {
    margin-left: 100px;
  }

  .icona {
    width: 10px;
    height: 10px;
    margin-right: 400px;
    color: #b7c2cc;
    margin-top: -200px;
  }
}

@media (min-width: 1px) and (max-width: 374px) {
  .text {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
    color: #003c84;
  }

  .texts {
    margin-left: 10px;
    margin-top: 4px;
    font-size: 15px;
    color: #b7c2cc;
  }

  .smallImage {
    margin-right: 90px;
    font-size: 20px;
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 375px) and (max-width: 766px) {
  .cardImage {
    margin-left: 20px;
    width: 300px;
    height: 250px;
  }

  .title {
    margin: auto;
    font-size: 30px;
    margin-top: 160px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .titles {
    margin: auto;
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .counter {
    margin-left: 100px;
  }

  .icona {
    width: 10px;
    height: 10px;
    margin-right: 400px;
    color: #b7c2cc;
    margin-top: -200px;
  }
}

@media (min-width: 375px) and (max-width: 877px) {
  .text {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
    color: #003c84;
  }

  .texts {
    margin-left: 10px;
    margin-top: 4px;
    font-size: 15px;
    color: #b7c2cc;
  }

  .smallImage {
    margin-right: 90px;
    font-size: 20px;
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 877px) and (max-width: 1440px) {
  .cardImage {
    width: 700px;
    height: 300px;
    margin-right: auto;
    float: right;
    margin-left: 30px;
  }

  .title {
    margin: auto;
    margin-right: 120px;
    font-size: 25px;
    color: #003c84;
  }

  .titles {
    margin: auto;
    margin-right: 120px;
    font-size: 18px;
    margin-top: 10px;
  }

  .text {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
    color: #003c84;
  }

  .icona {
    float: right;
    margin-right: 170px;
    font-size: 10px;
    margin-bottom: 10px;
    color: #003c84;
  }

  .smallImage {
    margin-right: 150px;
    font-size: 20px;
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 767px) and (max-width: 877px) {
  .cardImage {
    width: 700px;
    height: 300px;
    margin: auto;
    margin-left: 50px;
  }

  .title {
    margin: auto;
    font-size: 25px;
    padding-right: 40px;
  }

  .titles {
    font-size: 18px;
    margin: auto;
    padding-left: 40px;
    padding-right: 80px;
  }

  .text {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
    color: #003c84;
  }

  .icona {
    display: flex;
    float: right;
    margin-right: 150px;
    font-size: 10px;
    margin-top: -50px;
    color: #b7c2cc;
  }

  .smallImage {
    margin-right: 150px;
    font-size: 20px;
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 874px) and (max-width: 1440px){
  .cardImage {
    width: 1100px;
    height: 300px;
    margin: auto;
    margin-left: 120px;
  }

  .title {
    margin: auto;
    font-size: 25px;
    padding-right: 40px;
  }

  .titles {
    font-size: 18px;
    margin: auto;
    padding-left: 40px;
    padding-right: 80px;
  }

  .text {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
    color: #003c84;
  }

  .icona {
    display: flex;
    float: right;
    margin-right: 150px;
    font-size: 10px;
    margin-top: -50px;
    color: #b7c2cc;
  }

  .smallImage {
    margin-right: 150px;
    font-size: 20px;
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 1462px) and (max-width: 1800px) {
  .cardImage {
    width: 1300px;
    height: 600px;
    margin-left: 60px;
  }

  .title {
    margin-top: -280px;
    margin-right: 100px;
    font-size: 45px;
  }

  .titles {
    margin-top: 10px;
    font-size: 25px;
    padding-left: 40px;
  }

  .text {
    margin-left: 170px;
    margin-top: -100px;
    font-size: 15px;
    color: #003c84;
  }

  .texts {
    margin-left: 170px;
    margin-top: 10px;
    font-size: 15px;
    color: #b7c2cc;
    font-weight: bold;
  }

  .smallImage {
    margin-right: 1150px;
    font-size: 20px;
    width: 150px;
    height: 150px;
  }

  .icona {
    float: right;
    margin-right: 1480px;
    font-size: 10px;
    margin-top: 40px;
    color: #b7c2cc;
  }
}
